@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@400;900&display=swap');

/* CSS RESET */
/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {

    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}


/*Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* CSS RESET ENDING */

/* CSS START */
:root {
    --primaryGreen: #54E6AF;
    --darkGrey: #2C344B;
    --mediumGrey: #5A668A;
    --lightGrey: #C2CBE5;
    --dark: #121725;
    --white: #fff;
}

body {
    /*  */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--dark);
    font-family: 'Chivo', sans-serif;
}

.container {
    margin: 0 1.5rem;
}

header {
    position: absolute;
    width: 134.85px;
    left: 120px;
    top: 62px;
}

/* header tablet definitions */
@media screen and (min-width:48rem) {
    header {
        position: absolute;
        left: 39px;
        top: 50px;
    }
}

/*header desktop definitions */
@media screen and (min-width:62rem) {
    header {
        left: 165px;
        top: 102px;
    }
}

/* main definitions */
main {
    min-width: 20.4375rem;
    max-width: 45.1875rem;
    color: white;
    text-align: center;
}

article>h1 {
    font-weight: 400;
    font-size: 1.625rem;
    color: var(--white);
    text-transform: uppercase;
    line-height: 2.375rem;
}

article>h1>span {
    color: var(--primaryGreen);
}

article>p {
    font-size: 0.9375rem;
    margin-top: 1rem;
    max-width: 27.8125rem;
    color: var(--lightGrey);
    line-height: 1.5625rem;
}


/* main tablet definitions */
@media screen and (min-width:48rem) {
    picture {
        position: absolute;
        width: 491px;
        height: 767px;
        left: 277px;
        top: 0px;
    }

    main {
        padding-top: 93px;
        position: absolute;
        width: 635px;
        height: 509px;
        left: 39px;
        top: 258px;
        text-align: start;
    }

    article>h1 {
        font-style: normal;
        font-weight: 400;
        font-size: 48px;
        line-height: 56px;
    }

    article>p {
        margin-top: 31px;
        font-size: 0.9375rem;
        font-size: 18px;
        line-height: 28px;
    }
}

/* main desktop definitions */
@media screen and (min-width:992px) {
    picture {
        position: absolute;
        width: 888px;
        height: 640px;
        left: 552px;
        top: 130px;
    }

    main {
        padding-top: 88px;
        position: absolute;
        width: 723px;
        height: 509px;
        left: 165px;
        top: 261px;
    }

    article>h1 {
        font-style: normal;
        font-weight: 400;
        font-size: 52px;
        line-height: 62px;
    }

    article>p {
        margin-top: 24px;
        font-size: 18px;
        line-height: 28px;
    }
}