@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;800&display=swap');

/* CSS RESET */
/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/*Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

h1,
p {
    text-align: center;
    color: white;
}

/* CSS RESET ENDING */

/* CSS START */
:root {
    --green: #3ee9e5;
    --lightBlue: #093f68;
    --violet: #777f98;
    --white: #fff;
    --darkBlue: #080c20;
    --pinkErrors: #ff2965;
}

body {
    overflow-x: hidden;
    /*  */
    background-color: var(--darkBlue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Manrope', sans-serif;
}

/* TEXT / list FORMAT */
h1 {
    font-weight: 800;
    /* 18px */
    font-size: 1.125rem;
    /* 25px */
    line-height: 1.5625rem;
}

p,
ul>li,
small {
    font-weight: 500;
    /* 15px */
    font-size: 0.9375rem;
    /* 25px */
    line-height: 1.5625rem;
}

/* MOBILE HEADER */
header {
    /* 47.72px */
    margin-top: 2.9825rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.container-header {
    width: 100%;
}

.container-header>.logo {
    display: flex;
    /* 120px */
    width: 7.5rem;
    margin: 0 auto;
}

/* MAIN - HERO */
/* MOBILE HERO */
main {
    position: relative;
    width: 100%;
    /* 66px */
    margin-top: 4.125rem;
    /* 24px */
    padding: 1.5rem;
}

.illustration-hero-mobile {
    align-self: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background-image: url(./assets/illustration-hero-mobile.png);
    background-size: cover;
    /* 200px 4px */
    padding-top: 25rem;
    background-repeat: no-repeat;
}

.hero {
    /* 23px */
    margin-top: 8.4rem;
    color: var(--white);
    text-align: center;
    display: flex;
    justify-content: center;
}

.hero-text {
    /* 300px */
    margin-top: 18.75rem;
}

.hero-text>h1 {
    font-weight: 800;
    /* 32px */
    font-size: 2rem;
    /* 40px */
    line-height: 2.5rem;
}

.hero-text>h1>span {
    color: var(--green);
}

.hero-text>p {
    /* 23px */
    margin-top: 1.4375rem;
    font-weight: 500;
    /* 15px */
    font-size: 0.75rem;
    /* 25px */
    line-height: 1.5625rem;
    color: var(--violet);
}

.icon-scroll {
    width: 100%;
    /* 32px */
    margin-top: 2rem;
}

.container-icon-scroll {
    /* 26px */
    width: 1.625rem;
    margin: 0 auto;
}

/* MOBILE benefits */
#benefits {
    /* 144px */
    margin-top: 8rem;
    width: 100%;
}

.individual-item-article {
    /* 56px */
    margin-top: 3.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-benefits-img {
    /* 120px */
    width: 7.4375rem;
    display: flex;
    justify-content: center;
    background-color: var(--lightBlue);
    border-radius: 45px;
}

.container-benefits-text>h1 {
    /* 32px */
    margin-top: 2rem;
}

.container-benefits-text>p {
    /* 11px */
    margin-top: 0.6875rem;
    color: var(--violet);
}

/* MOBILE PRICING PLANS */
#pricing {
    /* 144px */
    margin-top: 9rem;
}

/* list general settings */
#pricing ul,
#pricing li {
    padding-left: 0;
    list-style-position: inside;
}

.free-plan>ul>li,
.paid-plan>ul>li {
    /* 12px */
    margin-top: 0.75rem;
    list-style-type: none;
}

/* end list general settings */
.container-pricing-description>h1 {
    /* 24px */
    font-size: 1.5rem;
    /* 33px */
    line-height: 2.0625rem;
}

.container-pricing-description>p {
    /* 27px */
    margin-top: 1.6875rem;
    color: var(--violet);
}

/* background settings */
.free-plan,
.paid-plan {
    position: relative;
    /* 49px 29px 32px */
    padding: 3.0625rem 1.8125rem 2rem;
    /* 8px */
    border-radius: 0.5rem;
}


.free-plan:before,
.paid-plan:before {
    position: absolute;
}

.free-plan:before {
    content: url(assets/icon-free.svg);
    top: -20px;
}

.paid-plan:before {
    content: url(assets/icon-paid.svg);
    top: -35px;
}

/* end background settings */

.free-plan {
    color: var(--white);
    /* 79px */
    margin-top: 4.9375rem;
    background-color: var(--lightBlue);
}

.free-plan>ul>li:before {
    content: url(assets/icon-check.svg);
}

.paid-plan {
    /* 65px */
    margin-top: 4.0625rem;
    background-color: var(--green);
}

.paid-plan>ul>li:before {
    content: url(assets/icon-check-b.svg);
}

.free-plan>ul>li:before,
.paid-plan>ul>li:before {
    /* 15.32px */
    margin-right: 0.9575rem;
}

.paid-plan>h1,
.paid-plan>p {
    color: var(--darkBlue);
}

.free-plan>h1,
.paid-plan>h1 {
    text-align: start;
    /* 19px */
    margin-bottom: 1.1875rem;
}

.free-plan>h1,
.paid-plan>h1,
.free-plan>p,
.paid-plan>p {
    text-align: start;
}

.free-plan>h1:nth-of-type(2),
.paid-plan>h1:nth-of-type(2) {
    /* 26px */
    margin-top: 1.625rem;
    font-weight: 800;
    /* 40px */
    font-size: 2.5rem;
    /* 55px */
    line-height: 3.4375rem;
}

/* MOBILE FORM */
#form {
    /* 145px */
    margin-top: 9.0625rem;
}

.form-header {
    position: relative;
}

.form-header>h1 {
    font-weight: 800;
    /* 24px */
    font-size: 1.5rem;
    /* 33px */
    line-height: 2.0625rem;
}

.container-form {
    /* 31px */
    margin-top: 1.9375rem;
}

/* .form-control { */
/* 120px */
/* margin-bottom: 7.5rem; */
/* } */

input {
    width: 100%;
    border: 0;
    /* 24px */
    border-radius: 1.5rem;
    /* 12px 18px */
    padding: 0.75rem 1.125rem;
}

.small-error {
    display: none;
}

input[type='email'] {
    background-color: var(--lightBlue);
    color: var(--white);
}

input::placeholder,
input[type='submit'] {
    color: var(--white);
    font-weight: 800;
    /* 15px */
    font-size: 0.9375rem;
    /* 25px */
    line-height: 1.5625rem;
}

input[type='submit'] {
    /* 24px */
    margin-top: 1.5rem;
    background-color: var(--green);
    color: var(--lightBlue);
    cursor: pointer;
}

/* form control */
.form-control.success input[type="email"] {
    border: 1px solid var(--green);
}

.form-control.error input[type="email"] {
    border: 1px solid var(--pinkErrors);
}


.form-control.error .small-error {
    color: var(--pinkErrors);
    display: block;
}

/* end form control */


/* RESPONSIVE */
@media screen and (min-width: 48rem) {

    /* TABLET HEADER */
    header {
        /* 40px*/
        margin-top: 2.5rem;
    }

    .container-header>.logo {
        align-items: flex-start;
        /* 39px */
        margin-left: 2.4375rem;
    }

    /* TABLET HERO */
    .illustration-hero-mobile {
        display: none;
        height: 0;
    }

    .hero {
        /* 77px */
        margin-top: 4.8125rem;
        /* 8px */
        border-radius: 0.5rem;
    }

    .hero-text {
        background-image: url(./assets/bg-hero-squiggle.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: top;
        /* 140px */
        margin: 0 8.75rem;
        width: 100%;
    }

    .hero-text>h1 {
        font-weight: 800;
        /* 32px */
        font-size: 2rem;
        /* 40px */
        line-height: 2.5rem;
    }

    .hero-text>p {
        /* 24px */
        margin-top: 1.5rem;
        font-weight: 500;
        /* 15px */
        font-size: 0.9375rem;
        /* 25px */
        line-height: 1.5625rem;
    }

    .illustration-hero-left {
        position: absolute;
        /* 40px */
        top: 2.5rem;
        left: -23%;
        /* 200px */
        padding: 12.5rem;
        padding-right: 158px;
        background-image: url(./assets/illustration-hero-left.svg);
        background-position: left;
        background-size: contain;
        z-index: -1;
    }

    .illustration-hero-right {
        background-image: url(./assets/illustration-hero-right.svg);
        position: absolute;
        /* 40px */
        top: 2.5rem;
        right: -30%;
        /* 200px */
        padding: 12.5rem;
        background-position: left;
        background-size: contain;
        z-index: -1;
    }

    /* TABLET benefits */
    #benefits {
        margin-top: 11rem;
    }

    .container-item-article {
        width: 573px;
        margin: 0 auto;
    }

    .individual-item-article {
        flex-direction: row;
        /* 40px 98px */
        margin: 2.5rem 0;
    }

    .individual-item-article:nth-child(odd) {
        justify-content: flex-end;
    }

    .individual-item-article:nth-child(even) {
        justify-content: flex-start;
    }

    .container-benefits-text {
        /* 340px */
        max-width: 21.25rem;
        /* 55px */
        margin-left: 3.4375rem;
    }

    .container-benefits-text>h1 {
        margin: 0;
    }

    .container-benefits-text>h1,
    .container-benefits-text>p {
        text-align: start;
    }

    /* TABLET PRICING PLANS */
    #pricing {
        margin: 7.8125rem auto;
        /* 141px */
        width: 573px;
    }

    .free-plan,
    .paid-plan {
        /* 445px */
        max-width: 27.8125rem;
        /* 50px 38px */
        padding: 3.125rem 2.375rem;
    }

    /* margin background box  */
    .free-plan {
        /* 79px auto */
        margin: 4.9375rem auto;
    }

    .paid-plan {
        /* 65px */
        margin: 4.0625rem auto;
    }

    /* end margin bg box */
    .free-plan>h1,
    .paid-plan>h1,
    .free-plan>p,
    .paid-plan>p {
        text-align: start;
    }

    .free-plan>h1:nth-of-type(2),
    .paid-plan>h1:nth-of-type(2) {
        /* 24px */
        margin-top: 1.5rem;
    }

    /* TABLET FORM */
    #form {
        /* 119px */
        margin: 5rem 0;
    }

    #forms {
        display: flex;
    }

    .container-form {
        /* 29px */
        margin-top: 1.8125rem;
        display: flex;
        justify-content: center;
    }

    .form-control {
        /* 430px */
        width: 26.875rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    input[type='email'] {
        flex-grow: 1;
        margin-right: 8px;
    }

    input[type='submit'] {
        align-self: flex-start;
        /* 140px */
        width: 8.7rem;
        margin: 0;
        margin-left: 0.5rem;
    }

    .small-error {
        /* 4px 0 0 18px */
        margin: 0.25rem 0 0 1.125rem;
    }

    .form-control.error small {
        color: var(--pinkErrors);
        display: block;
    }
}

/* RESPONSIVE DESKTOP */
@media screen and (min-width: 62rem) {

    /* DESKTOP HEADER */
    header {
        /* 81px */
        margin-top: 5.0625rem;
    }

    .container-header>.logo {
        align-items: flex-start;
        /* 165px */
        margin-left: 10.3125rem;
    }

    /* DESKTOP HERO */
    .hero {
        /* 96.81px */
        margin-top: 6.050625px;
    }

    .hero-text {
        /* 86px */
        margin-top: 5.375rem;
        /* 540px */
        max-width: 33.75rem;
        border-radius: 0.5rem;
        background-color: var(--darkBlue);
    }

    .hero-text>h1 {
        font-weight: 800;
        /* 48px */
        font-size: 3rem;
        line-height: 56px;
    }

    .illustration-hero-left {
        position: absolute;
        /* 40px */
        top: 2.5rem;
        left: -4%;
        /* 200px */
        padding: 12.5rem;
        /* 155px */
        padding-right: 9.6875rem;
        background-image: url(./assets/illustration-hero-left.svg);
        background-position: left;
        background-size: contain;
        z-index: -1;
    }

    .illustration-hero-right {
        background-image: url(./assets/illustration-hero-right.svg);
        position: absolute;
        /* 40px */
        top: 2.5rem;
        right: -7%;
        /* 200px */
        padding: 12.5rem;
        background-position: left;
        background-size: contain;
        z-index: -1;
    }

    /* DESKTOP BENEFITS */
    #benefits {
        margin-top: 8rem;
    }

    .container-item-article {
        width: 100%;
        /* 1110px */
        max-width: 69.375rem;
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }

    .individual-item-article {
        /* 0 15px */
        margin: 0 0.9375rem;
        /* 255px */
        width: 15.9375rem;
        align-items: flex-start;
        flex-direction: column;
    }

    .individual-item-article:nth-child(even) {
        /* 50px 0 0 0 */
        padding: 3.125rem 0 0 0;
    }

    .individual-item-article:nth-child(odd) {
        justify-content: flex-start;
    }

    .container-benefits-text {
        margin: 0;
    }

    .container-benefits-text>h1 {
        /* 48px */
        margin-top: 3rem;
    }

    .container-benefits-text>p {
        /* 23px */
        margin-top: 1.5625rem;
    }

    /* DESKTOP PRICING PLANS */
    #pricing {
        width: 100%;
        /* 202px */
        margin-top: 10.625rem;
        max-width: 920px;
    }

    .free-plan,
    .paid-plan {
        /* 445px */
        max-width: 27.8125rem;
        /* 50px 38px */
        padding: 3.125rem 2.375rem;
    }

    /* gaps for pricing boxes */
    .free-plan {
        margin-right: 15px;
    }

    .paid-plan {
        margin-left: 15px;
    }

    /* end pricing boxes */

    /* margin background box  */
    .container-pricing-plans {
        width: 100%;
        /* 105px */
        margin: 2rem 0;
        display: flex;
    }

    .container-pricing-description {
        margin: 0 auto;
        /* 540px */
        max-width: 31.75rem;
    }

    .container-pricing-description>h1 {
        /* 32px */
        font-size: 2rem;
        /* 44px */
        line-height: 2.75rem;
    }

    .container-pricing-description>p {
        /* 24px */
        margin-top: 1.5rem;
    }
}