@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

/* CSS RESET */
/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {

    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}


/*Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

:root {
    --paleBlue: hsl(225, 100%, 94%);
    --brightBlue: hsl(245, 75%, 52%);
    --veryPaleBlue: hsl(225, 100%, 98%);
    --desaturatedBlue: hsl(224, 23%, 55%);
    --darkBlue: hsl(223, 47%, 23%);
    --white: #fff;


}

body {
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: var(--paleBlue);
    background-image: url("./images/pattern-background-desktop.svg");
    background-repeat: no-repeat;
    background-color: hsl(225, 100%, 94%);
    background-size: contain;
    background-position: top;
}

.container {
    overflow: hidden;
    margin: 4.438rem 1.5rem;
    width: 20.438rem;
    box-shadow: 0px 2.5rem 2.5rem -1.25rem rgba(13, 48, 189, 0.151826);
    border-radius: 1.25rem;
    background-color: var(--white);
}

main {
    width: 100%;
    margin: 0 auto;
    padding: 2rem 1.5rem;
    text-align: center;
}

h1,
p {
    font-family: 'Red Hat Display', sans-serif;
}

h1 {
    font-style: normal;
    font-size: 1.375rem;
    line-height: 1.813rem;
}

p {
    font-weight: 500;
    color: var(--desaturatedBlue);
}

h1,
.container-choose-plan p:nth-of-type(1),
button,
main a:nth-last-of-type(2) {
    font-weight: 900;
}

article>p {
    margin: 1rem 0.5rem 1rem;
    font-style: normal;
    font-weight: 500;
    font-size: 0.938rem;
    line-height: 1.563rem;
}

.container-choose-plan {
    background-color: var(--veryPaleBlue);
    padding: 1.313rem 1rem;
    border-radius: 0.688rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-imgnote-p {
    display: flex;
    align-items: center;
}

.container-imgnote-p>img {
    margin-right: 1.25rem;
}

.container-imgnote-p>div>p:nth-of-type(1) {
    color: unset;
}

.container-choose-plan>a {
    height: fit-content;
    font-weight: 700;
    font-size: 0.813rem;
    line-height: 1.063rem;
    color:var(--brightBlue);
}