@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap');

/* CSS RESET */
/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {

    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}


/*Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* CSS RESET ENDING */

/* CSS START */
:root {
    --black: #151515;
    --darkGray: #242424;
    --green: #4EE1A0;
    --gray: #D9D9D9;
    --white: #fff;
}

body {
    /*  */
    width: 100vw;
    /* position: relative; */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--black);
    font-family: 'Space Grotesk', sans-serif;
    font-style: normal;
}

/* MOBILE HEADER - HERO */
.container-body {
    width: 100%;
    position: relative;
    height: 100vh;
    overflow-x: hidden;
    max-width: 1440px;
}

.bg-right {
    /* 530px */
    width: 33.125rem;
    /* 129px */
    height: 8.0625rem;
    position: absolute;
    /* -336px */
    left: -21rem;
    /* 117px */
    top: 7.3125rem;
}

.bg-left {
    position: absolute;
    /* 129px */
    width: 8.0625rem;
    /* 129px */
    height: 8.0625rem;
    /* 254px */
    top: 15.875rem;
    /* 84px */
    right: -5.25rem;
}

header {
    /* 18px */
    margin-top: 1.125rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   
    
    /* 4923px */
    margin-bottom: 20.8125rem;

}

.logo {
    /* 129px */
    width: 7.875rem;
    /* 20px */
    margin-bottom: 1.25rem;
    font-weight: 700;
    /* 24px */
    font-size: 1.5rem;
    /* 32px */
    line-height: 2rem;
    /* 0.333333px */
    letter-spacing: -0.0208rem;
    color: #FFFFFF;
}

.socials {
    /* 153.99px */
    width: 9.6244rem;
    display: flex;
    justify-content: space-between
}

.socials img {
    /* 18.62px */
    width: 1.1638rem;
}

/* HERO */
/* TAG picture */
.author-photo {
    width: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
}

picture {
    /* 174px */
    width: 10.875rem;
}

/* HERO TEXTS */
.hero-section {
    /* 16px */
    padding: 0 1rem;
}

.hero-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    /* 343px */
    text-align: center;
    width: 100%;
    /* 706px */
    max-width: 21.4375rem;
    margin: 0 auto;
    color: var(--white);
}

.hero-content>h1 {
    /* 40px */
    font-size: 2.5rem;
    /* 40px */
    line-height: 2.5rem;
    /* -1.13636px */
    letter-spacing: -0.071rem;
}

.hero-content>h1>.h1-author-name {
    text-decoration: underline;
    text-decoration-color: var(--green);
}

.hero-content>p {
    /* 20px */
    margin-top: 1.25rem;
    font-weight: 500;
    /* 16px */
    font-size: 16px;
    /* 26px */
    line-height: 1.625rem;
    color: var(--gray);
    /* 24px */
    margin-bottom: 1.5rem;
}

.hero-content>a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    /* 16px */
    font-size: 1rem;
    /* 26px */
    line-height: 1.625rem;
    /* 2.28571px */
    letter-spacing: 0.1429rem;
    color: var(--white);
}

.a-underline {
    /* 120px */
    width: 7.5rem;
    /* 10px */
    margin-top: 0.625rem;
    /* 2px */
    border-bottom: 0.125rem solid var(--green);
}

.hero-underline-outside {
    width: 100;
    display: flex;
    justify-content: center;
}

.hero-underline {
    /* 80px */
    margin-top: 5rem;
    /* 343px */
    width: 21.4375rem;
    border: 0.0625rem solid var(--white);
}

.bg-right-rings,
.bg-down-left-ring {
    display: none;
}

/* TABLET HERO HEADER */
@media screen and (min-width:48rem) {
    .container-body {
        overflow: visible;
        margin: 0 1rem;
        /* 708px */
        min-width: 4.25rem;
        /* 1110px */
        max-width: 69.375rem;
    }

    .bg-right {
        /* 530px */
        width: 33.125rem;
        /* 129px */
        height: 8.0625rem;
        position: absolute;
        left: -16.9rem;
        top: 4.3rem;
    }

    .bg-left {
        position: absolute;
        /* 129px */
        width: 8.0625rem;
        /* 129px */
        height: 8.0625rem;
        top: 28.9rem;
        right: -4.3rem;
    }

    /* TABLET HEADER - HERO */
    header {
        /* 599px */
        margin-bottom: 37.4975rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        /* 4923px */
    }

    .logo {
        /* 172px */
        width: 10.75rem;
        /* 32px */
        font-size: 2rem;
        /* 32px */
        line-height: 2rem;
        /* 0.444444px */
        letter-spacing: -0.0278rem;
        color: #FFFFFF;
    }

    .socials {
        /* 192.49px */
        width: 12.0288rem;
        /* 29.06px */
        margin-right: 1.4413rem;
        display: flex;
        justify-content: space-between;
    }

    .socials img {
        /* 24.61px */
        width: 1.5381rem;
    }

    /* HERO */
    /* TAG picture */
    .author-photo {
        width: fit-content;
        position: absolute;
        top: 0;
        right: 0;
    }

    picture {
        /* 322px */
        width: 20.125rem;
        z-index: -1;
    }

    /* HERO TEXTS */
    .hero-content {
        position: absolute;
        padding: 0;
        /* 28px */
        left: 0;
        /* 184px */
        top: 10.5rem;
        text-align: start;
        flex-direction: column;
        align-items: flex-start;
        /* 445px */
        max-width: 27.125rem;
    }

    .hero-content>h1 {
        display: block;
        /* 72px */
        font-size: 4.5rem;
        /* 72px */
        line-height: 4.5rem;
        /* -2.04545px */
        letter-spacing: -0.1278rem;
    }

    .hero-content>h1>span:nth-of-type(1),
    .hero-content>h1>span:nth-of-type(2) {
        display: block;
    }

    .hero-content>h1>span:nth-of-type(2),
    .hero-content>p {
        width: 445px;
    }

    .hero-content>p {
        /* 60px */
        margin-top: 3.75rem;
        /* 18px */
        font-size: 1.125rem;
        /* 28px */
        line-height: 1.75rem;
        color: var(--gray);
        /* 34px */
        margin-bottom: 2.125rem;
    }

    .hero-content>a {
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 700;
        /* 16px */
        font-size: 1rem;
        /* 26px */
        line-height: 1.625rem;
        /* 2.28571px */
        letter-spacing: 0.1429rem;
        color: var(--white);
    }

    .a-underline {
        /* 120px */
        width: 7.5rem;
        /* 10px */
        margin-top: 0.625rem;
        /* 2px */
        border-bottom: 0.125rem solid var(--green);
    }

    .hero-underline {
        /* 706px */
        width: 100%;
        /* 1px */
        border: 0.0625rem solid var(--white);
    }

}

/* DESKTOP HERO HEADER */
@media screen and (min-width:62rem) {
    .container-body {
        overflow: visible;
        /* 1110px */
        max-width: 69.375rem;
        position: relative;
    }

    .bg-right {
        /* 530px */
        width: 33.125rem;
        /* 129px */
        height: 8.0625rem;
        position: absolute;
        left: -16.9rem;
        top: 6.4rem;
    }

    .bg-left {
        position: absolute;
        /* 129px */
        width: 8.0625rem;
        /* 129px */
        height: 8.0625rem;
        top: 30.9rem;
        right: 23.7rem;
    }

    /* DESKTOP HEADER - HERO */
    header {
        /* 753px */
        margin-bottom: 47.0625rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .logo {
        /* 172px */
        width: 10.75rem;
        /* 32px */
        font-size: 2rem;
        /* 32px */
        line-height: 2rem;
        /* 0.444444px */
        letter-spacing: -0.0278rem;
        color: #FFFFFF;
    }

    .socials {
        /* 29.51px */
        margin-right: 1.8444rem;
        /* 192.49px */
        width: 12.0288rem;
        display: flex;
        justify-content: space-between;
    }

    .socials img {
        /* 24.61px */
        width: 1.5381rem;
    }

    /* HERO */
    /* TAG picture */
    .author-photo {
        position: absolute;
        top: 0;
        right: 0;
    }

    picture {
        /* 445px */
        width: 27.8125rem;
        z-index: -1;
    }

    /* HERO TEXTS */
    .hero-content {
        position: absolute;
        padding: 0;
        /* 28px */
        left: 0;
        /* 184px */
        top: 10.5rem;
        text-align: start;
        /* 706px */
        max-width: 44.125rem;
    }

    .hero-content>h1 {
        display: block;
        /* 88px */
        font-size: 5.5rem;
        /* 88px */
        line-height: 5.5rem;
        /* -2.5px */
        letter-spacing: -0.1563rem;
    }

    .hero-content>h1>span:nth-of-type(1),
    .hero-content>h1>span:nth-of-type(2) {
        display: inline;
    }

    .hero-content>h1>span:nth-of-type(2),
    .hero-content>p {
        width: 445px;
    }

    .hero-content>p {
        /* 43px */
        margin-top: 2.6875rem;
        /* 18px */
        font-size: 1.125rem;
        /* 28px */
        line-height: 1.75rem;
        color: var(--gray);
        /* 66px */
        margin-bottom: 4.125rem;
    }

    .hero-content>a {
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 700;
        /* 16px */
        font-size: 1rem;
        /* 26px */
        line-height: 1.625rem;
        /* 2.28571px */
        letter-spacing: 0.1429rem;
        color: var(--white);
    }

    .a-underline {
        /* 120px */
        width: 7.5rem;
        /* 10px */
        margin-top: 0.625rem;
        /* 2px */
        border-bottom: 0.125rem solid var(--green);
    }


    .hero-underline-outside {
        display: block;
    }

    .hero-underline {
        /* 1110px */
        width: 100%;
        /* 1px */
        border: 0.0625rem solid var(--white);
    }

}