/* CSS RESET */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/*Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* TYPOGRAPHY */
h1,
h2,
h3 {
  font-weight: 700;
}

h1 {
  /* 56px */
  font-size: 3.5rem;
}

h2 {
  /* 40px */
  font-size: 2.5rem;
}

h3 {
  /* 32px */
  font-family: 2rem;
}

p {
  font-weight: 500;
}

/* END TYPOGRAPHY */

/* CSS RESET ENDING */

/* CSS START */
:root {
  --galactic-blue: #755cde;
  --summer-yellow: #f6a560;
  --pink: #f39e9e;
  --light-red: #eb7565;
  --cyan: #61c4b7;
  --dark-purple: #552049;
  --medium-brown: #552049;
  --black: #030303;
  --light-cream: #fff7f0;
  /* 18px */
  --font-size-small: 1.125rem;
  /* 28px */
  --font-size-medium: 1.75rem;
}

body {
  background-color: var(--light-cream);
  font-family: 'Plus Jakarta Sans';
  /*  */
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding: 1rem;
}

.container {
  width: 100%;
  max-width: 30rem;
  margin: 2em;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem;
  border-radius: 2rem;
  text-align: center;
}

/* button settings */
.btn-free-consultation {
  width: 11rem;
  height: 2.75rem;
  border: none;
  border-radius: 1.75rem;
  font-style: normal;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.75rem;
  padding: 0.5rem 1.6875rem;
}

.btn-free-consultation.btn-black {
  background-color: var(--black);
  color: var(--light-cream);
}

.btn-free-consultation.btn-red {
  background-color: var(--light-red);
  color: var(--light-cream);
}

/* end button settings */

/* MOBILE HEADER*/
.container-header {
  display: flex;
  justify-content: space-between;
}

.container-header > img {
  width: 3rem;
}

/* END MOBILE HEADER */

/* MOBILE HERO */
#hero {
  margin-top: 2rem;
  width: 100%;
  max-width: 47rem;
}

.container-hero-text {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#hero h1 {
  font-size: 2.25rem;
  line-height: 2.8125rem;
  color: var(--black);
}

#hero p {
  max-width: 17.8125rem;
  margin-top: 16px;
  font-size: 1rem;
  line-height: 1.625rem;
  color: var(--medium-brown);
}

/* END MOBILE HERO */

/* TABLET */
@media screen and (min-width: 48rem) {
  /* tablet header */
  .container-header > img {
    width: 4rem;
  }

  .btn-free-consultation {
    width: 14.25rem;
    height: 3.5rem;
    padding: 0.875rem 2.8125rem;
    font-size: 1rem;
  }

  /* end tablet header */
}
