@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

:root {
    --darkCyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);
    --darkBlue: hsl(212, 21%, 14%);
    --darkGrayishBlue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
}



body {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 60rem;
    height: 100vh;
    background: var(--cream);
}

body p {
    font-size: 0.9rem;
}

header img {
    display: block;
    max-width: 21.8rem;
    border-radius: 0.9rem 0.9rem 0 0;
    margin: 2.5rem 0.9rem 0 0.9rem;
}

.general-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 100%;
}

main {
    width: 21.8rem;
    background-color: var(--white);
    border-radius: 0 0 0.9rem 0.9rem;
    padding: 1.87rem;
    margin: 0 0.9rem 2.5rem 0.9rem;
}

.container-main {
    max-width: 20rem;
    width: 100%;
}

main h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.18rem;
    color: var(--darkGrayishBlue);
}

main h1 {
    font-family: 'Fraunces', sans-serif;
    font-weight: 400;
    text-transform: capitalize;
    color: var(--darkBlue);
    margin-top: 0.9rem;
}

main p {
    width: 19rem;
    font-family: 'Montserrat', sans-serif;
    margin-top: 1rem;
    color: var(--darkGrayishBlue);
    line-height: 1.25rem;

}

.price {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

.green-price {
    color: var(--darkCyan);
    font-family: 'Fraunces', sans-serif;
    font-weight: 700;
    font-size: 1.87rem;
    margin-right: 1.25rem;
}

.normal-price {
    text-decoration: line-through;
    color: var(--darkGrayishBlue);
    font-size: 0.75;
}

button {
    margin-top: 1rem;
    background-color: var(--darkCyan);
    color: var(--white);
    width: 100%;
    height: 3.1rem;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
}

button img {
    margin-right: 0.16rem;
}

button:hover {
    cursor: pointer;
}

button:active {
    background: var(--darkBlue);
}


@media(min-width:768px) {

    body {
        display: flex;
        justify-content: center;
        max-width: 100%;
    }

    .general-container {
        display: flex;
        flex-direction: row;
        padding: 0;
        margin: auto;
    }

    header picture img {
        height: 31.25rem;
        border-radius: 0.9rem 0 0 0.9rem;
        margin: 0;
    }

    main {
        display: flex;
        align-items: center;
        width: 18.7rem;
        height: 31.25rem;
        margin: 0;
        border-radius: 0 0.9rem 0.9rem 0;
    }

    main>.container-main {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    main h1 {
        line-height: 1.87rem;
    }

    main p {
        width: 16rem;
        font-size: 1rem;
        line-height: 1.5rem;
    }



}