@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

/* CSS RESET */
/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* font */
body {
    font-family: 'Karla', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

P {
    font-weight: 400;
}

h1 {
    /* 24px */
    font-size: 1.5rem;
    /* 28px */
    line-height: 1.75rem;
    /* -0.3px */
    letter-spacing: -0.0188rem;
    /* 24px */
    margin-bottom: 1.5rem;

}

h2 {
    /* 18px */
    font-size: 1.125rem;
    /* 21px */
    line-height: 1.3125rem;
    /* -0.225px */
    letter-spacing: -0.0141rem;
    /* 18px */
    margin-bottom: 1.125rem;
}

p {
    /* 16px */
    font-size: 1rem;
    /* 26px */
    line-height: 1.625rem;
    /* -0.2px */
    letter-spacing: -0.0125rem;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/*Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* CSS RESET ENDING */

/* CSS START */
:root {
    --cyan: hsl(179, 62%, 43%);
    --brightYellow: hsl(71, 73%, 54%);
    --lightGray: hsl(204, 43%, 93%);
    --grayishBlue: hsl(218, 22%, 67%);
}

body {
    /* 72px 0 */
    padding: 4.5rem;
    background-color: var(--grayishBlue);
    min-height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* MAIN */

main {
    margin: 0 auto;
    width: 311px;
    box-shadow: 0px 15px 30px rgba(0, 81, 171, 0.148847);
    border-radius: 5px;
    margin-bottom: 72px;
}

.container-main {
/* 28px 24px 24px */
    padding: 1.75rem 1.5rem 1.5rem;
}

/* ARTICLE 1 */