@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

/* CSS RESET */
/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* font */
body {
    font-family: 'Karla', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

P {
    font-weight: 400;
}

h1 {
    /* 24px */
    font-size: 1.5rem;
    /* 28px */
    line-height: 1.75rem;
    /* -0.3px */
    letter-spacing: -0.0188rem;
    /* 24px */
    margin-bottom: 1.5rem;
}

h2 {
    /* 18px */
    font-size: 1.125rem;
    /* 21px */
    line-height: 1.3125rem;
    /* -0.225px */
    letter-spacing: -0.0141rem;
    /* 18px */
    margin-bottom: 1.125rem;
}

p {
    /* 16px */
    font-size: 1rem;
    /* 26px */
    line-height: 1.625rem;
    /* -0.2px */
    letter-spacing: -0.0125rem;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/*Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* CSS RESET ENDING */

/* CSS START */
:root {
    --cyan: hsl(179, 62%, 43%);
    --brightYellow: hsl(71, 73%, 54%);
    --lightGray: hsl(204, 43%, 93%);
    --grayishBlue: hsl(218, 22%, 67%);
    --white: #fff;
}

body {
    /* 72px 0 */
    padding: 4.5rem;
    background-color: var(--grayishBlue);
    min-height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* MAIN */

main {
    margin: 0 auto;
    /* 341px */
    width: 100%;
    /* 635px */
    max-width: 39.6875rem;
    box-shadow: 0px 15px 30px rgba(0, 81, 171, 0.148847);
    border-radius: 5px;
    margin-bottom: 72px;
    overflow: hidden;
}

.article1,
.article2,
.container-article3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ARTICLE 1 */
.article1 {
    /* 28px 24px 24px */
    padding: 1.75rem 1.5rem 2rem;
    background-color: var(--white);
    width: 100%;
}

.article1 h1 {
    color: var(--cyan);
}

.article1 h2 {
    color: var(--brightYellow);
}

.article1 p {
    /* 14px */
    font-size: 0.875rem;
    /* 26px */
    line-height: 1.625rem;
    color: var(--grayishBlue);
    /* -0.175px */
    letter-spacing: 0.0109375rem;
    /* 32px */
}

/* END ARTICLE1 */

/* ARTICLE2, ARTICLE3 COMMONS */
.generic-div {
    background-color: var(--cyan);
}

.article2,
.article3 {
    width: 100%;
    color: var(--white);
}

/* END ARTICLE2, ARTICLE3 COMMONS */
/* ARTICLE 2 */
.article2 {
    /* 24px */
    padding: 1.5rem;
}

.article2 p:nth-child(2) {
    /* 32px */
    font-size: 2rem;
    /* 37px */
    line-height: 2.3125rem;
    /* -0.4px */
    letter-spacing: 0.025rem;
}

small {
    font-weight: 400;
    /* 16px */
    font-size: 1rem;
    /* 26px */
    line-height: 1.625rem;
    /* -0.2px */
    letter-spacing: -0.0125rem;
    opacity: 0.5;
}

.article2 p:nth-child(3) {
    margin-bottom: 26px;
}

button {
    width: 263px;
    font-weight: 700;
    /* 16px */
    font-size: 1rem;
    /* 19px */
    line-height: 1.1875rem;
    /* -0.2px */
    letter-spacing: -0.0125rem;
    color: var(--white);
    background-color: var(--brightYellow);
    /* 15px */
    padding: 0.9375rem;
    /* 0 10px 10px */
    box-shadow: 0 0.625rem 0.625rem rgba(0, 0, 0, 0.0973011);
    /* 5px */
    border: 0;
    border-radius: 0.3125rem;
    cursor: pointer;
}

/* END ARTICLE 2 */

/* ARTICLE 3 */
.article3 {
    background-color: var(--white);
}

.container-article3 {
    width: 100%;
    background-color: var(--cyan);
    opacity: 0.7;
    /* 24px */
    padding: 1.5rem;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */
    letter-spacing: -0.175px;
}

.article3 ul {
    padding-left: 0;
}

.article3 ul li {
    list-style-type: none;

    /* 14px */
    font-size: 0.8758rem;
    /* 20px */
    line-height: 1.25rem;
    /* -0.175px */
    letter-spacing: -0.0109375rem;
}

/* END ARTICLE3 */

/* DESKTOP RESPONSIVE */
@media screen and (min-width: 48rem) {

    .article1,
    .article2,
    .container-article3 {
        align-items: flex-start;
    }

    .generic-div {
        display: flex;
    }

    /* ARTICLE1 */
    .article1>p {
        /* 16px */
        font-size: 1rem;
        line-height: 1.625rem;
        /* -0.2px */
        letter-spacing: 0.0125rem;
    }

    /* END ARTICLE1 */

    /* ARTICLE2 */

    /* END ARTICLE2 */
}